* {                /* muda o layout geral*/
    margin:0;    
    padding:0;
    box-sizing:border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border:none;
}

input, label {
    display: block;   /* cada um em sua linha respectivamente*/
    outline: none;
    width: 100%;
}

a {
    color:rgb(65 183 204);
}

body {
    padding-top: 5vh;  /* view height -> 5% do topo da tela*/
    background-image: url(../img/dead-sea.jpg);
    background-size:cover;
    background-position-y: -150px;
}

#main_cont {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    border-radius: 10px;
    padding: 25px;
}

#main-cont h1 {
    text-align: center;
    margin-bottom: 25px;
    font-size: 1.6rem; /*  adaptada ao elemento root*/
}

form { 
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
}

.box-princ {
    flex: 1 1 100%;
    position: relative;
}

.box-dois {
    flex: 1 1 45%;
    position: relative;
     
}

.espaco {
    margin-right: 2.5%;
}

label {
    font-weight: bold;
    font-size: .8rem;
}

input {
    border-bottom: 2px solid #323232;
    padding: 10px;
    font-size: .9rem;
    margin-bottom: 40px;
}

input:focus {
    border-color: rgb(65 183 204);
}

input[type="submit"] {
    background-color:rgb(65 183 204);
    color: #fff;
    border:none;
    border-radius: 20px;
    height: 40px;
    cursor: pointer;
}

#agree {
    margin-right: 5px;
}

#agree, #agree-label {
    display: inline-block;
    width: auto;
}

.erro_validacao {
    color:red;
    position: absolute;
    top:57px;
    font-size: 12px;
}

.template {
    display: none;
}